body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

body > div > header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: violet;
    height: 70vh;
    background-image: url(https://live.staticflickr.com/3955/15497858186_215ca45bbf_b.jpg);
    background-size: cover;
    background-position: top;

    grid-area: header;
}

.flex-container {
    align-self: flex-start;
    display: flex;
    white-space: nowrap;
}

#logo {
    margin: 20px;
    padding: 8px;
    font-family: "Maitree", sans-serif;
    width: 16%;
    color: white;
}

#nav-ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    margin-top: 20px;

}

#nav-ul > li {
    padding: 8px;
    margin: 16px;
}

.navbutton {
    color: white;
    text-decoration: none;
    padding: 12px;
    border-radius: 10%;
}

#icons {
    display: flex;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    
    grid-area: icons;
}

h1 {
    font-family: "Cabin", sans-serif;
}

h2 {
    font-family: "Cabin", sans-serif;
}

.Read {
    text-decoration: none;
    color: grey;
}

article {
    padding-left: 7vh;
    padding-right: 7vh;
    padding-top: 5.5vh;
    padding-bottom: 5.5vh;
}

#photo {
    background-image: url(https://live.staticflickr.com/65535/52580455465_6c92394fb6_b.jpg);
    background-size: cover;
    background-position: center;
    
    grid-area: photo;
}

#story {
    padding-left: 9vh;
    padding-right: 9%;
    padding-bottom: 7vh;
    padding-top: 5vh;
    background-color: #efeff1;
    background-size: cover;

    grid-area: story;
}

.Readstory {
    text-decoration: none;
    list-style: none;
    color: grey;
}

#story>nav>ul {
    padding: 0px;
    text-decoration: none;
    list-style: none;
    text-align: left;
}

#gallery {
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 7vh;
    padding-left: 13vh;
    padding-right: 13vh;

    grid-area: gallery;
}

#gallery > h1 {
    padding-bottom: 3vh;
}

.small-photo{
    width: 250px;
    height: 150px;
    padding-left: 2vh;
    padding-right: 2vh;
}

#row-one {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 3vh;
}

#row-two {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

body > div > footer {
    background-image: url(https://live.staticflickr.com/5508/12219367194_9d55a9620b_c.jpg);
    background-size: cover;
    background-position: center;
    padding: 4vh;

    grid-area: footer;
}

#grid-container {
    display: grid;
    grid-template-areas: 
    "header header"
    "icons icons"
    "photo story"
    "gallery gallery"
    "footer footer";
    grid-template-columns: 1fr 1fr;
}

#grid-container-two {
    display: grid;
    grid-template-areas: 
    '';
}
